h1{
    background-color: yellow;
}

.btn{
    
    margin-left: 200px;
    background-color: #7fffd4;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-family: 'Segoe UI';
    font-weight: bold;
    border-radius: 7px ;
    border: 0px #fff;
    transition: all;
    transition-duration: .3s;
}

.btn:hover{
    background-color: #00ffd5;
    transform: translateY(-5px);
    box-shadow: 2px 2px 2px 2px #c8c8c8;
    
}